<%= stylesheet_link_tag "application" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<div class = 'container-fluid'>
    <%= render 'shared/logoPage' =>
    <%= render "shared/nav" %>
    <%= render 'shared/aboutContact' %>
    <div class = 'row no-gutters bodyContainer'>
        <%= render 'shared/videoIntro' %> 
        <%= render "shared/audioPage" %>
        <%= render "shared/footer" %>
    </div>
 </div>